* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(238, 92, 14), rgb(228, 199, 55));
  }

.gameboard-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    gap: 2px;

}


.title,
.text-shadow-pop-tr {

    text-align: center;
    justify-content: flex-start;
    font-family: 'Original Surfer', cursive;

}
    
.gameboard-item {
    border-radius: 10px;
    font-size: 60px;
    opacity: 100%;
}

.gameboard-item:hover {
    background-color: lightpink;

}

.play-again {
    font-family: 'Original Surfer', cursive;    
    
    
}
.winner {

    font-family: 'Original Surfer', cursive;
    text-align: center;

}

