* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.gameboard-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    gap: 2px;
    
}


h1 {
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.gameboard-item {
    border-radius: 10px;
    color: blueviolet;
    font-size: 60px;
}

.gameboard-item:hover {
    background-color: lightpink;
    
}




